@use './widget-shared' as *;

.sw__edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sw__edit-actions {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
